package com.chunhe.custom.controller.pc;

import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;

/**
 * <p>
 * $!{table.comment} 后端-控制层
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@RestController
@RequestMapping("/pc/${entity}")
public class ${table.controllerName} {

}