package com.chunhe.custom.controller.fm;

import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;

/**
 * <p>
 * $!{table.comment} 控制层
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("/${entity}")
public class ${table.controllerName} {

}