package com.chunhe.custom.controller.fm;

import ${superControllerClassPackage};
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;


/**
 * <p>
 * $!{table.comment} freemarker-控制层
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@Controller
@RequestMapping("/${entity}")
public class ${table.controllerName} extends ${superControllerClass} {

}