package ${package.Service};

import ${superServiceClassPackage};
import ${package.Entity}.${entity};
import org.springframework.stereotype.Service;
import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;

/**
 * <p>
 * $!{table.comment} 服务层
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@Service
public class ${entity}Service extends ${superServiceClass}<${entity}> {

    private Logger logger = LogManager.getLogger(getClass());

}