HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
/target
**/src/test

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr
.emergency.iml
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
#生成器
src/main/java/com/tzle1/emergency/gencode/*