<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.ActionLogMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.ActionLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="log_username" jdbcType="VARCHAR" property="logUsername"/>
        <result column="log_request_url" jdbcType="VARCHAR" property="logRequestUrl"/>
        <result column="log_content" jdbcType="VARCHAR" property="logContent"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        ac.`id` as `ac_id`, ac.`log_username` as `ac_log_username`, ac.`log_request_url` as `ac_log_request_url`,
        ac.`log_content` as `ac_log_content`,
        ac.`create_date` as `ac_create_date`, ac.`update_date` as `ac_update_date`, ac.`expire_date` as `ac_expire_date`
    </sql>


</mapper>