<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.AdditionalCostsMapper">
  <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.AdditionalCosts">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ac.`id` as `ac_id`, ac.`code` as `ac_code`, ac.`name` as `ac_name`, ac.`remark` as `ac_remark`,
    ac.`create_date` as `ac_create_date`, ac.`update_date` as `ac_update_date`, ac.`expire_date` as `ac_expire_date`
  </sql>

  <select id="findAdditionalCostsList" resultMap="BaseResultMap">
    SELECT ac.* FROM `additional_costs` ac
    <where>
      1=1
      and ac.expire_date is null
    </where>

  </select>

  <select id="getAdditionalCosts" resultMap="BaseResultMap">
    SELECT ac.* FROM `additional_costs` ac
    <where>
      1=1
      and ac.expire_date is null
      <if test="id != null">
        and ac.id = #{id}
      </if>
      <if test="code != null">
        and ac.code = #{code}
      </if>
      limit 1
    </where>
  </select>

</mapper>