<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.CustomBlackMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.CustomBlack">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="black_zsh" jdbcType="VARCHAR" property="blackZsh"/>
        <result column="black_type" jdbcType="INTEGER" property="blackType"/>
        <result column="black_enable" jdbcType="BIT" property="blackEnable"/>
        <result column="black_create_user" jdbcType="VARCHAR" property="blackCreateUser"/>
        <result column="black_reason" jdbcType="VARCHAR" property="blackReason"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        cb.`id` as `cb_id`, cb.`black_zsh` as `cb_black_zsh`, cb.`black_type` as `cb_black_type`,
        cb.`black_enable` as `cb_black_enable`, cb.`black_create_user` as `cb_black_create_user`,
        cb.`black_create_user` as `cb_black_create_user`, cb.`black_reason` as `cb_black_reason`,
        cb.`create_date` as `cb_create_date`, cb.`update_date` as `cb_update_date`,
        cb.`expire_date` as `cb_expire_date`
    </sql>

    <select id="findCustomBlackList" resultMap="BaseResultMap">
        SELECT cb.*
        from custom_black cb
        <where>
            cb.expire_date is NULL
            <if test="blackZsh != null and blackZsh != ''">
                and cb.black_zsh like concat('%', #{blackZsh}, '%')
            </if>
            <if test="blackType != null">
                and cb.black_type = #{blackType}
            </if>
            <if test="blackEnable != null">
                and cb.black_enable = #{blackEnable}
            </if>
        </where>
    </select>

    <select id="getCustomBlack" resultMap="BaseResultMap">
        SELECT cb.*
        from custom_black cb
        <where>
            cb.expire_date is NULL
            <if test="id != null">
                and cb.id = #{id}
            </if>
            <if test="blackZsh != null and blackZsh != ''">
                and cb.black_zsh = #{blackZsh}
            </if>
            order by id desc
            limit 1
        </where>
    </select>

</mapper>