<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.DadaPartsMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.DadaParts">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="series" jdbcType="VARCHAR" property="series"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="ex_yy" jdbcType="VARCHAR" property="exYy"/>
        <result column="ex_qghy" jdbcType="VARCHAR" property="exQghy"/>
        <result column="ex_jsys" jdbcType="VARCHAR" property="exJsys"/>
        <result column="ex_sc" jdbcType="VARCHAR" property="exSc"/>
        <result column="imgs" jdbcType="VARCHAR" property="imgs"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="video" jdbcType="VARCHAR" property="video"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        dp.`id` as `dp_id`, dp.`code` as `dp_code`, dp.`name` as `dp_name`, dp.`type` as `dp_type`,
        dp.`series` as `dp_series`, dp.`price` as `dp_price`, dp.`ex_yy` as `dp_ex_yy`, dp.`ex_qghy` as `dp_ex_qghy`,
        dp.`ex_jsys` as `dp_ex_jsys`, dp.`ex_sc` as `dp_ex_sc`,
        dp.`imgs` as `dp_imgs`, dp.`img_url` as `dp_img_url`, dp.`video` as `dp_video`, dp.`remark` as `dp_remark`,
        dp.`note` as `dp_note`, dp.`create_date` as `dp_create_date`, dp.`update_date` as `dp_update_date`,
        dp.`expire_date` as `dp_expire_date`
    </sql>

    <select id="findDadaPartsList" resultMap="BaseResultMap">
        SELECT dj.`name` as typeName, dp.* FROM `dada_parts` dp
        LEFT JOIN `dada_jewelry_type` dj on dj.id = dp.type
        <where>
            1=1
            and dp.expire_date is null
            <if test="type != null">
                and dp.type = #{type}
            </if>
            <if test="series != null">
                and dp.series = #{series}
            </if>
            -- app查找系列下款式列表，不展示price=0的
            <if test="price != null">
                and dp.price != #{price}
            </if>
            <if test="code != null">
                and dp.code like concat('%', #{code}, '%')
            </if>
            <if test="name != null">
                and dp.name like concat('%', #{name}, '%')
            </if>
            <if test="exYy != null">
                and dp.ex_yy like concat('%', #{exYy}, '%')
            </if>
            <if test="orderBy != null">
                order by ${orderBy}
            </if>
        </where>
    </select>

    <select id="getDadaParts" resultMap="BaseResultMap">
        SELECT dj.`name` as typeName, dp.* FROM `dada_parts` dp
        LEFT JOIN `dada_jewelry_type` dj on dj.id = dp.type
        <where>
            1=1
            and dp.expire_date is null
            <if test="id != null">
                and dp.id = #{id}
            </if>
            <if test="code != null">
                and dp.code = #{code}
            </if>
            <if test="type != null">
                and dp.type = #{type}
            </if>
            limit 1
        </where>
    </select>

    <!--样式详情，查询所绑定的组件列表-->
    <select id="findDadaRelStyleParts" resultMap="BaseResultMap">
        SELECT dj.`name` as typeName, dp.* FROM `dada_rel_style_parts` dr
        LEFT JOIN dada_parts dp on dp.`id` = dr.`parts_id`
        LEFT JOIN dada_jewelry_type dj on dj.id = dp.type
        <where>
            1=1
            <if test="styleId != null">
                and dr.style_id = #{styleId}
            </if>
            <if test="partsId != null">
                and dr.parts_id = #{partsId}
            </if>
            ORDER BY dp.type desc
        </where>
    </select>

</mapper>