<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.DiamondKelaMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.DiamondKela">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="ex_zs_xz" jdbcType="VARCHAR" property="exZsXz"/>
        <result column="ex_zs_zs" jdbcType="VARCHAR" property="exZsZs"/>
        <result column="ex_zs_zl" jdbcType="INTEGER" property="exZsZl"/>
        <result column="ex_zs_ys" jdbcType="VARCHAR" property="exZsYs"/>
        <result column="ex_zs_jd" jdbcType="VARCHAR" property="exZsJd"/>
        <result column="ex_zs_qg" jdbcType="VARCHAR" property="exZsQg"/>
        <result column="ex_zs_pg" jdbcType="VARCHAR" property="exZsPg"/>
        <result column="ex_zs_dc" jdbcType="VARCHAR" property="exZsDc"/>
        <result column="ex_zs_yg" jdbcType="VARCHAR" property="exZsYg"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        dk.`id` as `dk_id`, dk.`code` as `dk_code`, dk.`name` as `dk_name`, dk.`status` as `dk_status`,
        dk.`price` as `dk_price`, dk.`img_url` as `dk_img_url`, dk.`remark` as `dk_remark`,
        dk.`note` as `dk_note`, dk.`ex_zs_xz` as `dk_ex_zs_xz`, dk.`ex_zs_zs` as `dk_ex_zs_zs`,
        dk.`ex_zs_zl` as `dk_ex_zs_zl`, dk.`ex_zs_ys` as `dk_ex_zs_ys`, dk.`ex_zs_jd` as `dk_ex_zs_jd`,
        dk.`ex_zs_qg` as `dk_ex_zs_qg`, dk.`ex_zs_pg` as `dk_ex_zs_pg`, dk.`ex_zs_dc` as `dk_ex_zs_dc`,
        dk.`ex_zs_yg` as `dk_ex_zs_yg`, dk.`create_date` as `dk_create_date`, dk.`update_date` as `dk_update_date`,
        dk.`expire_date` as `dk_expire_date`, dk.`level` as `dk_level`
    </sql>

    <select id="findDiamondKelaList" resultMap="BaseResultMap">
        SELECT dk.* FROM `diamond_kela` dk
        <where>
            1=1
            and dk.expire_date is null
            <if test="status != null">
                and dk.status != #{status}
            </if>
            <if test="exZsZlMin != null and exZsZlMin != 0">
                and dk.ex_zs_zl >= #{exZsZlMin}
            </if>
            <if test="exZsZlMax != null and exZsZlMax != 0">
                and #{exZsZlMax} >= dk.ex_zs_zl
            </if>
            <if test="priceMin != null and priceMin != 0">
                and dk.price >= #{priceMin}
            </if>
            <if test="priceMax != null and priceMax != 0">
                and #{priceMax} >= dk.price
            </if>
            <if test="exZsQg != null">
                and dk.ex_zs_qg = #{exZsQg}
            </if>
            <if test="exZsDc != null">
                and dk.ex_zs_dc = #{exZsDc}
            </if>
            <if test="exZsPg != null">
                and dk.ex_zs_pg = #{exZsPg}
            </if>
            <if test="exZsYsArr != null and exZsYsArr.length > 0">
                and dk.ex_zs_ys in ${exZsYsArr}
            </if>
            <if test="exZsJdArr != null and exZsJdArr.length > 0">
                and dk.ex_zs_jd in ${exZsJdArr}
            </if>
            <if test="exZsYs != null">
                and dk.ex_zs_ys = #{exZsYs}
            </if>
            <if test="exZsJd != null">
                and dk.ex_zs_jd = #{exZsJd}
            </if>
            <if test="orderBy != null">
                order by ${orderBy}
            </if>
        </where>
    </select>

    <select id="getDiamondKela" resultMap="BaseResultMap">
        SELECT dk.* FROM `diamond_kela` dk
        <where>
            1=1
            and dk.expire_date is null
            <if test="id != null">
                and dk.id = #{id}
            </if>
        </where>
        limit 1
    </select>

</mapper>