<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.JewelryTypeMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.JewelryType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        jt.`id` as `jt_id`, jt.`code` as `jt_code`, jt.`name` as `jt_name`, jt.`remark` as `jt_remark`,
        jt.`create_date` as `jt_create_date`, jt.`update_date` as `jt_update_date`, jt.`expire_date` as `jt_expire_date`
    </sql>

    <select id="findJewelryTypeList" resultMap="BaseResultMap">
        SELECT jt.* FROM `jewelry_type` jt
        <where>
            1=1
            and jt.expire_date is null
        </where>
        order by jt.create_date desc
    </select>

    <select id="getJewelryType" resultMap="BaseResultMap">
        SELECT jt.* FROM `jewelry_type` jt
        <where>
            1=1
            and jt.expire_date is null
            <if test="id != null">
                and jt.id = #{id}
            </if>
            <if test="code != null">
                and jt.code = #{code}
            </if>
            <if test="name != null">
                and jt.name = #{name}
            </if>
            limit 1
        </where>
    </select>

</mapper>