<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.Orders">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="kt_code" jdbcType="VARCHAR" property="ktCode"/>
        <result column="base_id" jdbcType="INTEGER" property="baseId"/>
        <result column="ex_ys" jdbcType="VARCHAR" property="exYs"/>
        <result column="ex_jd" jdbcType="VARCHAR" property="exJd"/>
        <result column="ex_pg" jdbcType="VARCHAR" property="exPg"/>
        <result column="ex_dc" jdbcType="VARCHAR" property="exDc"/>
        <result column="ex_yg" jdbcType="VARCHAR" property="exYg"/>
        <result column="hand" jdbcType="VARCHAR" property="hand"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="printing_id" jdbcType="INTEGER" property="printingId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_mobile" jdbcType="VARCHAR" property="customerMobile"/>
        <result column="customer_address" jdbcType="VARCHAR" property="customerAddress"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_operator_id" jdbcType="INTEGER" property="userOperatorId"/>
        <result column="user_sales_id" jdbcType="INTEGER" property="userSalesId"/>
        <result column="lettering" jdbcType="VARCHAR" property="lettering"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="style_id" jdbcType="INTEGER" property="styleId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="gems" jdbcType="VARCHAR" property="gems"/>
        <result column="add_costs_id" jdbcType="VARCHAR" property="addCostsId"/>
        <result column="add_costs_price" jdbcType="VARCHAR" property="addCostsPrice"/>
        <result column="diamond_code" jdbcType="INTEGER" property="diamondCode"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="pos_url" jdbcType="VARCHAR" property="posUrl"/>
        <result column="pos_xml" jdbcType="VARCHAR" property="posXml"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="plan_time" jdbcType="TIMESTAMP" property="planTime"/>
        <result column="product_id" jdbcType="TIMESTAMP" property="productId"/>
        <result column="ex_jb_kd" jdbcType="TIMESTAMP" property="exJbKd"/>
        <result column="voucherno" jdbcType="VARCHAR" property="voucherno"/>
        <result column="certificate" jdbcType="BIT" property="certificate"/>
        <result column="series" jdbcType="VARCHAR" property="series"/>
        <result column="born_stone" jdbcType="VARCHAR" property="bornStone"/>
        <result column="stone_zl" jdbcType="VARCHAR" property="stoneZl"/>
        <result column="stone_cgj" jdbcType="VARCHAR" property="stoneCgj"/>
        <result column="product_yy" jdbcType="VARCHAR" property="productYy"/>
        <result column="stone_type" jdbcType="VARCHAR" property="stoneType"/>
        <result column="stone_zsbh" jdbcType="VARCHAR" property="stoneZsbh"/>
        <result column="stone_nxbs" jdbcType="VARCHAR" property="stoneNxbs"/>
        <result column="stone_batch" jdbcType="VARCHAR" property="stoneBatch"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        o.`id` as `o_id`, o.`kt_code` as `o_kt_code`, o.`base_id` as `o_base_id`, o.`ex_ys` as `o_ex_ys`, o.`ex_jd` as
        `o_ex_jd`,
        o.`ex_pg` as `o_ex_pg`, o.`ex_dc` as `o_ex_dc`, o.`ex_yg` as `o_ex_yg`, o.`hand` as `o_hand`,
        o.`material` as `o_material`, o.`color` as `o_color`, o.`printing_id` as `o_printing_id`,
        o.`remark` as `o_remark`, o.`customer_name` as `o_customer_name`, o.`customer_mobile` as `o_customer_mobile`,
        o.`customer_address` as `o_customer_address`,
        o.`user_id` as `o_user_id`, o.`user_operator_id` as `o_user_operator_id`, o.`user_sales_id` as
        `o_user_sales_id`, o.`lettering` as `o_lettering`, o.`price` as `o_price`, o.`style_id` as `o_style_id`,
        o.`create_date` as `o_create_date`, o.`update_date` as `o_update_date`,
        o.`expire_date` as `o_expire_date`, o.`type` as `o_type`, o.`gems` as `o_gems`,
        o.`add_costs_id` as `o_add_costs_id`, o.`add_costs_price` as `o_add_costs_price`, o.`diamond_code` as
        `o_diamond_code`,
        o.`product_code` as `o_product_code`, o.`pos_url` as `o_pos_url`, o.`pos_xml` as `o_pos_xml`,
        o.`company` as `o_company`, o.`plan_time` as `o_plan_time`, o.`born_stone` as `o_born_stone`,
        o.`stone_zl` as `o_stone_zl`, o.`stone_cgj` as `o_stone_cgj`, o.`product_yy` as `o_product_yy`,
        o.`stone_type` as `o_stone_type`, o.`stone_zsbh` as `o_stone_zsbh`, o.`stone_nxbs` as `o_stone_nxbs`,
        o.`stone_batch` as `o_stone_batch`
    </sql>

    <select id="findOrdersList" resultMap="BaseResultMap">
        SELECT ord.*, pro.name as productName, su.name as storeName, su.username as storeCode
        FROM `orders` ord
        LEFT JOIN product pro on ord.product_id = pro.id
        LEFT JOIN sys_user su on ord.user_id = su.id
        <where>
            1=1
            <if test="code != null">
                and ord.code like concat('%', #{code}, '%')
            </if>
            <if test="storeCode != null and storeCode != ''">
                and (su.username like concat('%', #{storeCode}, '%')
                or su.name like concat('%', #{storeCode}, '%'))
            </if>
            <if test="zsBh != null">
                and ord.stone_zsbh like concat('%',#{zsBh}, '%')
            </if>
            <if test="startDate != null">
                and ord.create_date like concat('%', substring(#{startDate}, 1, 10), '%')
            </if>
            <if test="orderBy != null">
                order by ${orderBy}
            </if>
        </where>
    </select>

    <select id="findOrdersListApp" resultMap="BaseResultMap">
        SELECT ord.*, pro.name as productName, pro.price as productPrice FROM `orders` ord
        LEFT JOIN product pro on ord.product_id = pro.id and pro.expire_date is null
        <where>
            1=1
            and ord.expire_date is null
            <if test="userId != null">
                and ord.user_id = #{userId}
            </if>
            <if test="userSalesId != null">
                and ord.user_sales_id = #{userSalesId}
            </if>
            <if test="productName != null">
                and pro.name like concat('%', #{productName}, '%')
            </if>
            <if test="customer != null">
                and (ord.customer_name like concat('%', #{customer}, '%') or ord.customer_mobile like concat('%',
                #{customer}, '%'))
            </if>
            <if test="startDate != null">
                and ord.create_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and #{endDate} >= ord.create_date
            </if>
        </where>
        order by ord.create_date desc
    </select>

    <select id="getOrders" resultMap="BaseResultMap">
        SELECT ord.*, pro.name as productName, pro.price as productPrice FROM `orders` ord
        LEFT JOIN product pro on ord.product_id = pro.id
        <where>
            1=1
            and ord.expire_date is null
            <if test="id != null">
                and ord.id = #{id}
            </if>
            <if test="code != null">
                and ord.code like concat('%', #{code}, '%')
            </if>
            limit 1
        </where>
    </select>


    <select id="getExpireOrders" resultMap="BaseResultMap">
        SELECT ord.*, pro.name as productName, pro.price as productPrice FROM `orders` ord
        LEFT JOIN product pro on ord.product_id = pro.id
        <where>
            1=1
            and ord.expire_date is not null
            <if test="id != null">
                and ord.id = #{id}
            </if>
            <if test="code != null and code != ''">
                and ord.code = #{code}
            </if>
            <if test="stoneZsbh != null and stoneZsbh != ''">
                and ord.stone_zsbh = #{stoneZsbh}
            </if>
            limit 1
        </where>
    </select>

</mapper>