<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.OrdersStyleMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.OrdersStyle">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="store_code" jdbcType="VARCHAR" property="storeCode"/>
        <result column="style_id" jdbcType="INTEGER" property="styleId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_mobile" jdbcType="VARCHAR" property="customerMobile"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        os.`id` as `os_id`, os.`store_code` as `os_store_code`, os.`style_id` as `os_style_id`,
        os.`customer_name` as `os_customer_name`, os.`customer_mobile` as `os_customer_mobile`, os.`create_date` as
        `os_create_date`,
        os.`update_date` as `os_update_date`, os.`expire_date` as `os_expire_date`, os.`status` as `status`
    </sql>

    <select id="findOrdersStyleList" resultMap="BaseResultMap">
        SELECT os.*, su.name as storeName, ss.name as styleName FROM `orders_style` os
        LEFT JOIN sys_user su on su.username = os.store_code
        LEFT JOIN style ss on ss.id = os.style_id
        <where>
            1=1
            and os.expire_date is null
            <if test="storeCode != null">
                and os.store_code = #{storeCode}
            </if>
            <if test="storeName != null">
                and su.name like concat('%', #{storeName}, '%')
            </if>
            <if test="startDate != null">
                and os.create_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and #{endDate} >= os.create_date
            </if>
            <if test="status != null">
                and os.status = #{status}
            </if>
            <if test="orderBy == null">
                order by os.status asc, os.create_date desc
            </if>
            <if test="orderBy != null">
                order by ${orderBy}
            </if>
        </where>
    </select>

    <select id="getOrdersStyle" resultMap="BaseResultMap">
        SELECT os.*, su.name as storeName  FROM `orders_style` os
        LEFT JOIN sys_user su on su.username = os.store_code
        <where>
            1=1
            and os.expire_date is null
            <if test="id != null">
                and os.id = #{id}
            </if>
            limit 1
        </where>
    </select>

</mapper>