<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.PartsBigMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.PartsBig">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="zs_kh" jdbcType="VARCHAR" property="zsKh"/>
        <result column="zs_zl" jdbcType="INTEGER" property="zsZl"/>
        <result column="zs_zsh" jdbcType="VARCHAR" property="zsZsh"/>
        <result column="zs_ys" jdbcType="VARCHAR" property="zsYs"/>
        <result column="zs_jd" jdbcType="VARCHAR" property="zsJd"/>
        <result column="zs_qg" jdbcType="VARCHAR" property="zsQg"/>
        <result column="zs_pg" jdbcType="VARCHAR" property="zsPg"/>
        <result column="zs_dc" jdbcType="VARCHAR" property="zsDc"/>
        <result column="zs_yg" jdbcType="VARCHAR" property="zsYg"/>
        <result column="zs_kd" jdbcType="VARCHAR" property="zsKd"/>
        <result column="zs_gjbj" jdbcType="INTEGER" property="zsGjbj"/>
        <result column="zs_ctjj" jdbcType="INTEGER" property="zsCtjj"/>
        <result column="zs_mj" jdbcType="INTEGER" property="zsMj"/>
        <result column="zs_rmb" jdbcType="INTEGER" property="zsRmb"/>
        <result column="zs_price" jdbcType="INTEGER" property="zsPrice"/>
        <result column="lock_status" jdbcType="INTEGER" property="lockStatus"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        pb.`id` as `pb_id`, pb.`company` as `pb_company`, pb.`zs_kh` as `pb_zs_kh`, pb.`zs_zl` as `pb_zs_zl`,
        pb.`zs_zsh` as `pb_zs_zsh`, pb.`zs_ys` as `pb_zs_ys`, pb.`zs_jd` as `pb_zs_jd`, pb.`zs_qg` as `pb_zs_qg`,
        pb.`zs_pg` as `pb_zs_pg`, pb.`zs_dc` as `pb_zs_dc`, pb.`zs_yg` as `pb_zs_yg`, pb.`zs_kd` as `pb_zs_kd`,
        pb.`zs_gjbj` as `pb_zs_gjbj`, pb.`zs_ctjj` as `pb_zs_ctjj`, pb.`zs_mj` as `pb_zs_mj`,
        pb.`zs_rmb` as `pb_zs_rmb`, pb.`zs_price` as `pb_zs_price`, pb.`lock_status` as `pb_lock_status`,
        pb.`enabled` as `pb_enabled`, pb.`create_date` as `pb_create_date`, pb.`update_date` as `pb_update_date`,
        pb.`expire_date` as `pb_expire_date`
    </sql>

    <select id="findPartsBigList" resultMap="BaseResultMap">
        SELECT pb.id, pb.company, pb.zs_kh, pb.zs_zl, pb.zs_zsh, pb.company, pb.zs_ys, pb.zs_jd, pb.zs_qg,
        pb.zs_pg, pb.zs_dc, pb.zs_yg, pb.zs_price, pb.lock_status, pb.enabled, pb.create_date FROM `parts_big` pb
        <where>
            1=1
            and pb.expire_date is null
            <if test="enabled != null">
                and pb.enabled = #{enabled}
            </if>
            <if test="lockStatus != null">
                and pb.lock_status = #{lockStatus}
            </if>
            <if test="company != null">
                and pb.company = #{company}
            </if>
            <if test="zsKh != null">
                and pb.zs_kh = #{zsKh}
            </if>
            order by pb.zsPrice asc
        </where>
    </select>

    <select id="getPartsBig" resultMap="BaseResultMap">
        SELECT pb.* FROM `parts_big` pb
        <where>
            1=1
            and pb.expire_date is null
            <if test="id != null">
                and pb.id = #{id}
            </if>
            <if test="zsKh != null">
                and pb.zs_kh = #{zsKh}
            </if>
            <if test="zsZsh != null and zsZsh != ''">
                and pb.zs_zsh = #{zsZsh}
            </if>
            <if test="enabled != null">
                and pb.enabled = #{enabled}
            </if>
            <if test="lockStatus != null">
                and pb.lock_status = #{lockStatus}
            </if>
            limit 1
        </where>
    </select>

    <select id="findCompanyList" resultMap="BaseResultMap">
        SELECT pb.company FROM `parts_big` pb
        <where>
            1=1
            and pb.expire_date is null
            GROUP BY pb.company
            ORDER BY pb.company asc
        </where>
    </select>

    <update id="setExpire" parameterType="com.chunhe.custom.pc.model.PartsBig">
        update `parts_big` set expire_date = now()
        where expire_date is null
        and lock_status = 1
    </update>

    <update id="setEnable" parameterType="com.chunhe.custom.pc.model.PartsBig">
        update `parts_big` set update_date = now(),
        `enabled` = #{enable}
        where expire_date is null
        and lock_status = 1
        and `enabled` != #{enable}
    </update>
</mapper>