<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.RelAdvertisementStyleMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.RelAdvertisementStyle">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="advertisement_id" jdbcType="INTEGER" property="advertisementId"/>
        <result column="style_id" jdbcType="INTEGER" property="styleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        ras.`id` as `ras_id`, ras.`advertisement_id` as `ras_advertisement_id`, ras.`style_id` as `ras_style_id`
    </sql>

    <resultMap id="advertisementAndStyle" type="com.chunhe.custom.pc.model.Style" extends="BaseResultMap">
        <id column="id2" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="series" jdbcType="INTEGER" property="series"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="expire_date" jdbcType="VARCHAR" property="expireDate"/>
    </resultMap>

    <select id="findRelAdvertisementStyle" resultMap="advertisementAndStyle">
        SELECT st.id as id2, st.code, st.name, st.img_url, st.series, st.moral, st.type, st.remark, st.expire_date, ras.*, CASE WHEN style_id THEN true ELSE false END
        as enabled
        FROM `style` st
        LEFT JOIN
        (SELECT * FROM `rel_advertisement_style`
        <where>
            1=1
            <if test="advertisementId != null">
                and advertisement_id = #{advertisementId}
            </if>
        </where>
        ) as ras on ras.style_id = st.id
        <where>
            1=1
            and expire_date is null
            <if test="enabled != null">
                and `style_id` is not null
            </if>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="series != null">
                and `series` = #{series}
            </if>
            <if test="code != null">
                and `code` like concat('%', #{code}, '%')
            </if>
            <if test="name != null">
                and `name` like concat('%', #{name}, '%')
            </if>
        </where>
        ORDER BY enabled desc
    </select>

    <select id="getRelAdvertisementStyle" resultMap="BaseResultMap">
        SELECT ras.* FROM `rel_advertisement_style` ras
        <where>
            1=1
            <if test="id != null">
                and ras.id = #{id}
            </if>
            <if test="advertisementId != null">
                and ras.advertisement_id = #{advertisementId}
            </if>
            <if test="styleId != null">
                and ras.style_id = #{styleId}
            </if>
            limit 1
        </where>
    </select>

</mapper>