<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.SapSkuMapper">
  <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.SapSku">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="kt_code" jdbcType="VARCHAR" property="ktCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="js_cz" jdbcType="VARCHAR" property="jsCz" />
    <result column="zs_lx" jdbcType="VARCHAR" property="zsLx" />
    <result column="pd_lx" jdbcType="VARCHAR" property="pdLx" />
    <result column="js_ys" jdbcType="VARCHAR" property="jsYs" />
    <result column="zs_ys" jdbcType="VARCHAR" property="zsYs" />
    <result column="zs_jd" jdbcType="VARCHAR" property="zsJd" />
    <result column="fs_count" jdbcType="VARCHAR" property="fsCount" />
    <result column="sc" jdbcType="VARCHAR" property="sc" />
    <result column="yy" jdbcType="VARCHAR" property="yy" />
    <result column="fs_kd" jdbcType="VARCHAR" property="fsKd" />
    <result column="ys" jdbcType="VARCHAR" property="ys" />
    <result column="kk" jdbcType="VARCHAR" property="kk" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="series" jdbcType="VARCHAR" property="series" />
    <result column="is_kt" jdbcType="BIT" property="isKt" />
    <result column="is_zs" jdbcType="BIT" property="isZs" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="gs" jdbcType="VARCHAR" property="gs" />
    <result column="qghy" jdbcType="VARCHAR" property="qghy" />
    <result column="kstd" jdbcType="VARCHAR" property="kstd" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="jszl" jdbcType="VARCHAR" property="jszl" />
    <result column="kt_price" jdbcType="VARCHAR" property="ktPrice" />
    <result column="dz_price" jdbcType="VARCHAR" property="dzPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ss.`id` as `ss_id`, ss.`content` as `ss_content`,ss.`type` as `type`, ss.`code` as `ss_code`, ss.`kt_code` as `ss_kt_code`, ss.`name` as `ss_name`,
    ss.`js_cz` as `ss_js_cz`, ss.`zs_lx` as `ss_zs_lx`, ss.`pd_lx` as `ss_pd_lx`, ss.`js_ys` as `ss_js_ys`,
    ss.`zs_ys` as `ss_zs_ys`, ss.`zs_jd` as `ss_zs_jd`, ss.`fs_count` as `ss_fs_count`, 
    ss.`sc` as `ss_sc`, ss.`yy` as `ss_yy`, ss.`fs_kd` as `ss_fs_kd`, ss.`ys` as `ss_ys`, 
    ss.`kk` as `ss_kk`, ss.`price` as `ss_price`, ss.`series` as `ss_series`, ss.`is_kt` as `ss_is_kt`, ss.`is_zs` as `ss_is_zs`,
    ss.`create_date` as `ss_create_date`, ss.`update_date` as `ss_update_date`, ss.`expire_date` as `ss_expire_date`,
    ss.`gs` as `ss_gs`, ss.`qghy` as `ss_qghy`, ss.`kstd` as `ss_kstd`, ss.`sex` as `ss_sex`, ss.`jszl` as `ss_jszl`,
    ss.`kt_price` as `ss_kt_price`, ss.`dz_price` as `ss_dz_price`
  </sql>
</mapper>