<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.SeriesMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.Series">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="introduction_word" jdbcType="VARCHAR" property="introductionWord"/>
        <result column="introduction_video" jdbcType="VARCHAR" property="introductionVideo"/>
        <result column="introduction_imgs" jdbcType="VARCHAR" property="introductionImgs"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        s.`id` as `s_id`, s.`name` as `s_name`, s.`remark` as `s_remark`, s.`img_url` as `s_img_url`,
        s.`enabled` as `s_enabled`, s.`create_date` as `s_create_date`, s.`update_date` as `s_update_date`,
        s.`expire_date` as `s_expire_date`, s.`level` as `s_level`,
        s.`introduction_word` as `s_introduction_word`, s.`introduction_video` as `s_introduction_video`, s.`introduction_imgs` as `s_introduction_imgs`
    </sql>

    <select id="findSeriesList" resultMap="BaseResultMap">
        SELECT se.* FROM `series` se
        <where>
            1=1
            and se.expire_date is null
            <if test="enabled != null">
                and se.enabled = #{enabled}
            </if>
        </where>
        order by se.level asc, se.create_date desc
    </select>

    <select id="getSeries" resultMap="BaseResultMap">
        SELECT se.* FROM `series` se
        <where>
            1=1
            and se.expire_date is null
            <if test="id != null">
                and se.id = #{id}
            </if>
            <if test="enabled != null">
                and se.enabled = #{enabled}
            </if>
            limit 1
        </where>
    </select>

</mapper>