<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.mapper.SysConfigMapper">

    <select id="listSysConfig" resultType="com.chunhe.custom.entity.SysConfig">
        SELECT sc.id, sc.sys_config_name, sc.sys_config_key, sc.sys_config_value,
        sc.sys_config_is_enable, sc.sys_config_remark, sc.create_date
        from sys_config sc
        <where>
            sc.delete_date is NULL
            <if test="sysConfigName != null and sysConfigName != ''">
                and sc.sys_config_name like concat('%', #{sysConfigName}, '%')
            </if>
            <if test="sysConfigIsEnable != null">
                and sc.sys_config_is_enable = #{sysConfigIsEnable}
            </if>
            <if test="configKeyArr != null and configKeyArr != ''">
                AND FIND_IN_SET(sc.sys_config_key, ${configKeyArr})
            </if>
        </where>
    </select>

    <select id="getSysConfig" resultType="com.chunhe.custom.entity.SysConfig">
        SELECT sc.id, sc.sys_config_name, sc.sys_config_key, sc.sys_config_value,
        sc.sys_config_is_enable, sc.sys_config_remark, sc.create_date
        from sys_config sc
        <where>
            sc.delete_date is NULL
            <if test="id != null">
                and sc.id = #{id}
            </if>
            <if test="sysConfigIsEnable != null">
                and sc.sys_config_is_enable = #{sysConfigIsEnable}
            </if>
            <if test="sysConfigKey != null and sysConfigKey != ''">
                and sc.sys_config_key = #{sysConfigKey}
            </if>
            limit 1
        </where>
    </select>

</mapper>