<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chunhe.custom.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.chunhe.custom.entity.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sys_user_username" jdbcType="VARCHAR" property="sysUserUsername"/>
        <result column="sys_user_password" jdbcType="VARCHAR" property="sysUserPassword"/>
        <result column="sys_user_is_enable" jdbcType="BIT" property="sysUserIsEnable"/>
        <result column="sys_user_is_locked" jdbcType="BIT" property="sysUserIsLocked"/>
        <result column="sys_user_is_root" jdbcType="BIT" property="sysUserIsRoot"/>
        <result column="sys_user_name" jdbcType="VARCHAR" property="sysUserName"/>
        <result column="sys_user_mobile" jdbcType="VARCHAR" property="sysUserMobile"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate"/>
    </resultMap>

    <select id="findSysUserList" resultMap="BaseResultMap">
        SELECT su.* FROM `sys_user` su
        <where>
            1=1
            and su.delete_date is null
            and su.sys_user_username != 'admin'
        </where>
    </select>

    <select id="getSysUser" resultMap="BaseResultMap">
        SELECT su.* FROM `sys_user` su
        <where>
            1=1
            and su.delete_date is null
            <if test="sysUserUsername != null">
                and su.sys_user_username = #{sysUserUsername}
            </if>
            <if test="sysUserIsEnable != null">
                and su.sys_user_is_enable = #{sysUserIsEnable}
            </if>
            limit 1
        </where>
    </select>

    <update id="setNewPassword" parameterType="com.chunhe.custom.entity.SysUser">
        update `sys_user` set password = #{password}
        where delete_date is null
        and sys_user_username != 'admin'
    </update>

    <!--附近的店铺-->
    <select id="findSysUserNearbyList" resultMap="BaseResultMap">
        select `id`, `username`, `name`, `address`, `longitude`, `latitude`, `pos`,
        ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-latitude*PI()/180)/2),2)+COS(#{latitude}*PI()/180)*COS(latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-longitude*PI()/180)/2),2)))*1000)
        AS distance
        FROM sys_user
        <where>
            1=1
            and delete_date is null
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
        having #{nearbyDistance}>= distance
        order by distance asc
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
      select * from `sys_user` su
        where
        1=1
        and su.delete_date is null
        and su.sys_user_username = #{sysUserUsername}
        and su.sys_user_is_enable = #{sysUserIsEnable}
        and su.sys_user_is_locked = #{sysUserIsLocked}
    </select>


</mapper>