<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.SysUserTokenMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.SysUserToken">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>

    </resultMap>

    <select id="isToken" resultMap="BaseResultMap">
        select sut.* from sys_user_token sut
        where sut.expire_date is null
        and sut.effective_time > NOW()
        and sut.token = #{token}
        order by id desc
        limit 1
    </select>

    <update id="setTimeOver" parameterType="com.chunhe.custom.pc.model.SysUserToken">
        update sys_user_token set expire_date = now() where user_id = #{userId} and token != #{token} and expire_date is null
    </update>

    <update id="setTimeUpdate" parameterType="com.chunhe.custom.pc.model.SysUserToken">
        update sys_user_token set effective_time = #{effectiveTime} where id = #{id} and expire_date is null
    </update>

</mapper>