<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.Task">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="productid" jdbcType="VARCHAR" property="productid"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_date" jdbcType="TIMESTAMP" property="lastDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        t.`id` as `t_id`, t.`company` as `t_company`, t.`productid` as `t_productid`, t.`status` as `t_status`,
        t.`create_date` as `t_create_date`,
        t.`last_date` as `t_last_date`, t.`update_date` as `t_update_date`, t.`expire_date` as `t_expire_date`,
        t.`order_id` as `t_order_id`, t.`jp_order_id` as `t_jp_order_id`, t.`num` as `t_num`, t.`content` as `t_content`
    </sql>

    <select id="findTaskList" resultMap="BaseResultMap">
        select  tt.*, oo.stone_zsbh as stoneZsbh from task tt
        left join orders oo on oo.id = tt.order_id
        <where>
            1=1
            and tt.expire_date is null
            <if test="status != null">
                and tt.status = #{status}
            </if>
            <if test="lastDate != null">
                and #{lastDate} > tt.last_date
            </if>
        </where>
        order by tt.id desc
    </select>

    <select id="getTask" resultMap="BaseResultMap">
        select * from task
        <where>
            1=1
            and expire_date is null
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="productid != null">
                and productid = #{productid}
            </if>
        </where>
        order by id desc
        limit 1
    </select>
</mapper>