<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.UniqueGroupMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.UniqueGroup">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="ht" jdbcType="VARCHAR" property="ht"/>
        <result column="jb" jdbcType="VARCHAR" property="jb"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        ug.`id` as `ug_id`, ug.`name` as `ug_name`, ug.`url` as `ug_url`, ug.`ht` as `ug_ht`,
        ug.`jb` as `ug_jb`, ug.`remark` as `ug_remark`, ug.`create_date` as `ug_create_date`,
        ug.`update_date` as `ug_update_date`, ug.`expire_date` as `ug_expire_date`, ug.`enabled` as `ug_enabled`,
        ug.`type` as `ug_type`
    </sql>

    <select id="findUniqueGroupList" resultMap="BaseResultMap">
        select ug.* from `unique_group` ug
        <where>
            1=1
            and ug.expire_date is null
            <if test="enabled != null">
                and ug.enabled = #{enabled}
            </if>
        </where>
    </select>

    <select id="getUniqueGroup" resultMap="BaseResultMap">
        select ug.* from `unique_group` ug
        <where>
            1=1
            and ug.expire_date is null
            <if test="enabled != null">
                and ug.enabled = #{enabled}
            </if>
            <if test="id != null">
                and ug.id = #{id}
            </if>
        </where>
    </select>
</mapper>