<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.UseLogMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.UseLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="style_id" jdbcType="INTEGER" property="styleId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="source_type" jdbcType="INTEGER" property="sourceType"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        ul.`id` as `ul_id`, ul.`user_id` as `ul_user_id`, ul.`style_id` as `ul_style_id`,
        ul.`type` as `ul_type`, ul.`source_type` as `ul_source_type`, ul.`remark` as `ul_remark`,
        ul.`create_date` as `ul_create_date`, ul.`update_date` as `ul_update_date`,
        ul.`expire_date` as `ul_expire_date`
    </sql>

    <select id="findUseLogList" resultMap="BaseResultMap">
        SELECT ul.*, st.name as styleName, st.code as styleCode FROM `use_log` ul
        left join style st on st.id = ul.style_id
        <where>
            1=1
            and ul.expire_date is null
            and st.expire_date is null
            <if test="userId != null">
                and ul.user_id = #{userId}
            </if>
            <if test="type != null">
                and ul.type = #{type}
            </if>
            <if test="sourceType != null">
                and ul.source_type = #{sourceType}
            </if>
            <if test="search != null">
                and ul.type in ${search}
            </if>
            <if test="styleCode != null">
                and st.code like concat('%', #{styleCode}, '%')
            </if>
            <if test="startDate != null">
                and ul.create_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and #{endDate} >= ul.create_date
            </if>
            <if test="orderBy != null">
                order by ${orderBy}
            </if>
        </where>
    </select>

    <select id="getUseLog" resultMap="BaseResultMap">
        SELECT ul.*, st.name as styleName, st.code as styleCode FROM `use_log` ul
        left join style st on st.id = ul.style_id
        <where>
            1=1
            and ul.expire_date is null
            and st.expire_date is null
            <if test="id != null">
                and ul.id = #{id}
            </if>
        </where>
        limit 1
    </select>
</mapper>