<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunhe.custom.pc.mapper.VersionMapper">
    <resultMap id="BaseResultMap" type="com.chunhe.custom.pc.model.Version">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        v.`id` as `v_id`, v.`name` as `v_name`, v.`url` as `v_url`, v.`version` as `v_version`,
        v.`content` as `v_content`, v.`size` as `v_size`, v.`create_date` as `v_create_date`,
        v.`update_date` as `v_update_date`, v.`expire_date` as `v_expire_date`
    </sql>

    <select id="getVersion" resultMap="BaseResultMap">
        select v.* from `version` v
        <where>
            1=1
            and v.expire_date is null
            <if test="name != null">
                and v.name = #{name}
            </if>
            order by v.create_date desc
            limit 1
        </where>
    </select>
</mapper>